.perfume-page {
    display: flex;
    gap: 2rem;
    padding: 50px 10%;
}

.perfume-grid {
    grid-auto-rows: min-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    flex: 1;
    padding: 20px;
    justify-content: start;

}

.perfume-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.perfume-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.perfume-card h3 {
    font-family: FancyCutPro, Times New Roman, serif;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 0.03rem;
    line-height: 1.4;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.perfume-card p {
    font-size: 13px;
    color: #666;
    margin: 0.5rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.perfume-card button {
    width: 100%;
    border: 1px solid #C04040;
    background-color: transparent;
    color: #C04040;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.perfume-card button:hover {
    background-color: #C04040;
    color: #fff;
}

.perfume-filter {
    width: 220px;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 24px;
    top: 20px;
    height: fit-content;
    background-color: #fff;
    position: static;
}

.perfume-filter h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.perfume-filter h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}

.perfume-filter label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
    cursor: pointer;
    user-select: none;
}

.perfume-filter input[type="checkbox"] {
    accent-color: #C04040;
    cursor: pointer;
}
